<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kinggora.portal.mapper.CategoryMapper">

    <select id="findByBoardId" parameterType="int" resultType="Category">
        SELECT id, name
        FROM category
        WHERE board_id=#{boardId}
    </select>

    <select id="isCategoryOf" parameterType="Map" resultType="boolean">
        SELECT EXISTS (
        SELECT id
        FROM category
        WHERE id=#{id} AND boardId=#{boardId}
        )
    </select>

</mapper>
