<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kinggora.portal.mapper.CommonPostMapper">
    <resultMap id="CommonPost" type="CommonPost">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="hit" column="hit"/>
        <result property="regDate" column="reg_date"/>
        <result property="modDate" column="mod_date"/>
        <result property="attached" column="attached"/>
        <result property="imaged" column="imaged"/>
        <association property="boardInfo" javaType="BoardInfo" columnPrefix="bi_">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="subject" column="subject"/>
            <result property="name" column="name"/>
        </association>
        <association property="member" javaType="Member" columnPrefix="m_">
            <id property="id" column="id"/>
            <result property="username" column="username"/>
            <result property="password" column="password"/>
            <result property="name" column="name"/>
            <result property="role" column="role"/>
        </association>
        <association property="category" javaType="Category" columnPrefix="c_">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <insert id="savePost" parameterType="CommonPost" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO boards(
        member_id
        , board_id
        , category_id
        , title
        , content
        , reg_date
        , hit
        )
        VALUES(
        #{member.id}
        , #{boardInfo.id}
        , #{category.id}
        , #{title}
        , #{content}
        , NOW()
        , 0
        )
    </insert>

    <select id="findPostById" parameterType="int" resultMap="CommonPost">
        SELECT
        b.id
        , b.title
        , b.content
        , b.reg_date
        , b.mod_date
        , b.hit
        , bi.id AS bi_id
        , bi.name AS bi_name
        , bi.subject AS bi_subject
        , c.id AS c_id
        , c.name AS c_name
        , m.id AS m_id
        , m.username AS m_username
        , m.name AS m_name
        , m.role AS m_role
        FROM boards b, member m, category c, board_info bi
        WHERE b.id=#{id} and b.member_id=m.id and b.category_id=c.id AND b.board_id=bi.id AND b.del_flag=false
    </select>

    <update id="hitUp" parameterType="int">
        UPDATE boards SET hit=hit+1 WHERE id=#{id} AND del_flag=false
    </update>

    <update id="updatePost" parameterType="CommonPost">
        UPDATE boards
        SET title=#{title}, content=#{content}, mod_date=NOW()
        WHERE id=#{id} AND del_flag=false
    </update>

    <delete id="deletePost" parameterType="int">
        UPDATE boards
        SET del_flag=true, mod_date=NOW()
        WHERE id=#{id} AND del_flag=false
    </delete>

    <select id="findPosts" parameterType="map" resultMap="CommonPost">
        SELECT
        b.id
        , b.title
        , b.content
        , b.reg_date
        , b.mod_date
        , b.hit
        , bi.id AS bi_id
        , bi.name AS bi_name
        , bi.subject AS bi_subject
        , c.id AS c_id
        , c.name AS c_name
        , m.id AS m_id
        , m.username AS m_username
        , m.name AS m_name
        , m.role AS m_role
        , (SELECT EXISTS (SELECT id FROM file f WHERE b.id=f.post_id AND f.del_flag=false AND f.type='A' LIMIT 1)) AS
        attached
        , (SELECT EXISTS (SELECT id FROM file f WHERE b.id=f.post_id AND f.del_flag=false AND f.type='C' LIMIT 1)) AS
        imaged
        FROM boards b, member m, category c, board_info bi
        WHERE b.member_id=m.id and b.category_id=c.id AND b.board_id=bi.id AND
        b.del_flag=false
        <if test="criteria.boardId != null">
            AND b.board_id=#{criteria.boardId}
        </if>
        <if test="criteria.categoryId != null">
            AND b.category_id=#{criteria.categoryId}
        </if>
        <if test="criteria.searchWord != null and criteria.searchWord != ''">
            AND (b.title LIKE '%${criteria.searchWord}%'
            OR b.content LIKE '%${criteria.searchWord}%')
        </if>
        <choose>
            <when test="(criteria.startDate != null and criteria.startDate != '') and (criteria.endDate != null and criteria.endDate != '')">
                AND (b.reg_date BETWEEN #{criteria.startDate} AND #{criteria.endDate})
            </when>
            <when test="(criteria.startDate != null and criteria.startDate != '') and (criteria.endDate == null or criteria.endDate == '')">
                AND b.reg_date &gt;= #{criteria.startDate}
            </when>
            <when test="(criteria.startDate == null or criteria.startDate == '') and (criteria.endDate != null and criteria.endDate != '')">
                AND b.reg_date &lt;= #{criteria.endDate}
            </when>
        </choose>
        ORDER BY b.reg_date DESC
        LIMIT #{offset},#{limit}
    </select>

    <select id="findPostsCount" parameterType="SearchCriteria" resultType="int">
        SELECT COUNT(id)
        FROM boards
        WHERE del_flag=false
        <if test="boardId != null">
            AND board_id=#{boardId}
        </if>
        <if test="categoryId != null">
            AND category_id=#{categoryId}
        </if>
        <if test="searchWord != null and searchWord != ''">
            AND (title LIKE '%${searchWord}%'
            OR content LIKE '%${searchWord}%')
        </if>
        <choose>
            <when test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
                AND reg_date BETWEEN #{startDate} AND #{endDate}
            </when>
            <when test="(startDate != null and startDate != '') and (endDate == null or endDate == '')">
                AND reg_date &gt;= #{startDate}
            </when>
            <when test="(startDate == null or startDate == '') and (endDate != null and endDate != '')">
                AND reg_date &lt;= #{endDate}
            </when>
        </choose>
    </select>

</mapper>
