<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kinggora.portal.mapper.FileMapper">

    <insert id="saveFiles" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO file(
        post_id
        , orig_name
        , store_name
        , store_dir
        , ext
        , size
        , type
        , del_flag
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.postId}
            , #{item.origName}
            , #{item.storeName}
            , #{item.storeDir}
            , #{item.ext}
            , #{item.size}
            , #{item.type}
            , false
            )
        </foreach>
    </insert>

    <select id="findFilesOfType" parameterType="Map" resultType="UploadFile">
        SELECT * FROM file WHERE del_flag=false AND type=#{type}
        <if test="postIds.size != 0">
            AND post_id IN
            <foreach collection="postIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="findFileById" parameterType="int" resultType="UploadFile">
        SELECT
        id
        , post_id
        , orig_name
        , store_name
        , store_dir
        , ext
        , size
        , type
        , del_flag AS deleted
        FROM file WHERE id=#{id}
    </select>

    <select id="findFiles" parameterType="int" resultType="UploadFile">
        SELECT
        id
        , post_id
        , orig_name
        , store_name
        , store_dir
        , ext
        , size
        , type
        FROM file WHERE post_id=#{postId} AND del_flag=false
    </select>

    <update id="deleteFile" parameterType="int">
        UPDATE file
        SET del_flag=true
        WHERE id=#{id} AND del_flag=false
    </update>

    <update id="deleteFiles" parameterType="int">
        UPDATE file
        SET del_flag=true
        WHERE post_id=#{postId} AND del_flag=false
    </update>
</mapper>
