<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kinggora.portal.mapper.FileMapper">

    <insert id="saveFiles" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO file(
        post_id
        , orig_name
        , store_name
        , url
        , ext
        , size
        , type
        , deleted
        , reg_date
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.postId}
            , #{item.origName}
            , #{item.storeName}
            , #{item.url}
            , #{item.ext}
            , #{item.size}
            , #{item.type}
            , false
            , #{item.regDate}
            )
        </foreach>
    </insert>

    <select id="findById" parameterType="int" resultType="UploadFile">
        SELECT
        id
        , post_id
        , orig_name
        , store_name
        , url
        , ext
        , size
        , type
        , deleted
        , reg_date
        FROM file WHERE id=#{id}
    </select>

    <select id="findByPostId" parameterType="int" resultType="UploadFile">
        SELECT
        id
        , post_id
        , orig_name
        , store_name
        , url
        , ext
        , size
        , type
        , deleted
        , reg_date
        FROM file
        WHERE post_id=#{postId} AND deleted=false
    </select>

    <update id="deleteById" parameterType="int">
        UPDATE file
        SET deleted=true
        WHERE id=#{id} AND deleted=false
    </update>

    <update id="deleteByPostId" parameterType="int">
        UPDATE file
        SET deleted=true
        WHERE post_id=#{postId} AND deleted=false
    </update>
</mapper>
