<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kinggora.portal.mapper.LibraryMapper">
    <resultMap id="LibraryPost" type="LibraryPost">
        <id property="id" column="id"/>
        <result property="boardId" column="board_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="hit" column="hit"/>
        <result property="regDate" column="reg_date"/>
        <result property="modDate" column="mod_date"/>
        <association property="member" javaType="Member" columnPrefix="m_">
            <id property="id" column="id"/>
            <result property="username" column="username"/>
            <result property="password" column="password"/>
            <result property="name" column="name"/>
            <result property="role" column="role"/>
        </association>
    </resultMap>

    <insert id="savePost" parameterType="LibraryPost" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO library(
        board_id
        , member_id
        , title
        , content
        , reg_date
        , hit
        )
        VALUES(
        #{boardId}
        , #{member.id}
        , #{title}
        , #{content}
        , NOW()
        , 0
        )
    </insert>

    <select id="findPostById" parameterType="int" resultMap="LibraryPost">
        SELECT
        l.id
        , l.board_id
        , l.title
        , l.content
        , l.reg_date
        , l.mod_date
        , l.hit
        , m.id AS m_id
        , m.username AS m_username
        , m.name AS m_name
        , m.role AS m_role
        FROM library l, member m
        WHERE l.id=#{id} AND l.member_id=m.id AND l.del_flag=false
    </select>

    <update id="hitUp" parameterType="int">
        UPDATE library SET hit=hit+1 WHERE id=#{id} AND del_flag=false
    </update>

    <update id="updatePost" parameterType="LibraryPost">
        UPDATE library
        SET title=#{title}, content=#{content}, mod_date=NOW()
        WHERE id=#{id} AND del_flag=false
    </update>

    <delete id="deletePost" parameterType="int">
        UPDATE library SET del_flag=true WHERE id=#{id} AND del_flag=false
    </delete>

</mapper>