<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kinggora.portal.mapper.MemberMapper">
    <resultMap id="Member" type="Member">
        <result column="roles" property="roles" typeHandler="MemberRolesTypeHandler"/>
    </resultMap>

    <insert id="saveMember" parameterType="Member" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member(
        username
        , password
        , name
        , roles
        ) VALUES (
        #{username}
        , #{password}
        , #{name}
        , #{roles,typeHandler=MemberRolesTypeHandler}
        )
    </insert>

    <select id="findMemberById" parameterType="int" resultMap="Member">
        SELECT *
        FROM member
        WHERE id=#{id}
    </select>

    <select id="findMemberByUsername" parameterType="String" resultMap="Member">
        SELECT *
        FROM member
        WHERE username=#{username}
    </select>

    <select id="existsUsername" parameterType="String" resultType="boolean">
        SELECT EXISTS (
        SELECT id
        FROM member
        WHERE username=#{username}
        LIMIT 1
        )
    </select>

    <update id="updateMember" parameterType="Member">
        UPDATE member SET name=#{name} WHERE id=#{id}
    </update>

    <update id="updatePassword" parameterType="Map">
        UPDATE member SET password=#{password} WHERE id=#{id}
    </update>

</mapper>
