<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kinggora.portal.mapper.QnaMapper">
    <resultMap id="QnaPost" type="QnaPost">
        <id property="id" column="id"/>
        <result property="parent" column="parent"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="hit" column="hit"/>
        <result property="regDate" column="reg_date"/>
        <result property="modDate" column="mod_date"/>
        <association property="member" javaType="Member" columnPrefix="m_">
            <id property="id" column="id"/>
            <result property="username" column="username"/>
            <result property="password" column="password"/>
            <result property="name" column="name"/>
            <result property="role" column="role"/>
        </association>
        <association property="category" javaType="Category" columnPrefix="c_">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <insert id="saveQuestion" parameterType="QnaPost" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO qna(
        member_id
        , category_id
        , title
        , content
        , reg_date
        , hit
        )
        VALUES(
        #{member.id}
        , #{category.id}
        , #{title}
        , #{content}
        , NOW()
        , 0
        )
    </insert>

    <insert id="saveAnswer" parameterType="QnaPost" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO qna(
        member_id
        , category_id
        , parent
        , title
        , content
        , reg_date
        , hit
        )
        VALUES(
        #{member.id}
        , #{category.id}
        , #{parent}
        , #{title}
        , #{content}
        , NOW()
        , 0
        )
    </insert>

    <select id="findPostById" parameterType="int" resultMap="QnaPost">
        SELECT
        q.id
        , q.title
        , q.content
        , q.parent
        , q.reg_date
        , q.mod_date
        , q.hit
        , c.id AS c_id
        , c.name AS c_name
        , m.id AS m_id
        , m.username AS m_username
        , m.name AS m_name
        , m.role AS m_role
        FROM qna q, member m, category c
        WHERE q.id=#{id} and q.member_id=m.id and q.category_id=c.id AND del_flag=false
    </select>

    <select id="findPosts" resultMap="QnaPost">
        SELECT
        q.id
        , q.title
        , q.content
        , q.parent
        , q.reg_date
        , q.mod_date
        , q.hit
        , c.id AS c_id
        , c.name AS c_name
        , m.id AS m_id
        , m.username AS m_username
        , m.name AS m_name
        , m.role AS m_role
        FROM member m, category c, (
            SELECT a.id, a.member_id, a.category_id, a.parent, a.title, a.content, a.reg_date, a.mod_date, a.hit
            FROM qna a
                LEFT OUTER JOIN (
                    SELECT * FROM qna
                    WHERE parent IS NULL AND del_flag=FALSE
                    ORDER BY reg_date DESC
                    LIMIT #{offset},#{limit}
                ) q
                ON a.PARENT = q.id
            WHERE a.DEL_FLAG=false
        ) q
        WHERE q.member_id=m.id and q.category_id=c.id
    </select>

    <update id="hitUp" parameterType="int">
        UPDATE qna SET hit=hit+1 WHERE id=#{id} AND del_flag=false
    </update>

    <update id="updatePost" parameterType="QnaPost">
        UPDATE qna
        SET title=#{title}, content=#{content}, mod_date=NOW()
        WHERE id=#{id} AND del_flag=false
    </update>

    <delete id="deletePost" parameterType="int">
        UPDATE qna SET del_flag=true WHERE id=#{id} AND del_flag=false
    </delete>

    <select id="answerExists" parameterType="int" resultType="boolean">
        SELECT EXISTS (
        SELECT id
        FROM qna
        WHERE parent=#{id}
        LIMIT 1
        )
    </select>
</mapper>